
<div class="container">
  <h2>Market Research</h2>

  <!-- <div class="dow-chart">
    <img src="http://chart.finance.yahoo.com/t?s=%5eDJI&amp;lang=en-US&amp;region=US&amp;width=300&amp;height=180" alt="Dow Jones Industrial Average (^DJI)" width="300" height="180">
  </div> -->


  <div class="overview">
    <div class="ms-panel-bd GridSpread Ov-h ">
                <div class="group1">
                    <dl class="1 col-xs-1">
                        <dt class="ticker-name">
                            <span>S&amp;P 500</span>
                        </dt>
                        <dd class="ms-price neg-txt-color Fz-l Pt-4 Fw-n">
                            <span id="yfs_l84_^gspc" class="l84">1,979.03</span>
                        </dd>
                        <dd class="Fz-s Pt-1 Fw-500">
                            <span class="change">+0.94</span>
                            <span class="change">(0.05%)</span>
                        </dd>
                    </dl>
                    <div class="1 col-xs-2">
                        <img class="W-100" src="http://chart.finance.yahoo.com/instrument/1.0/^GSPC/chart;range=1d/image;size=126x60?region=US&amp;lang=en-US&amp;scheme=gsbeta" alt="Chart for ^GSPC" width="105" height="60">
                    </div>
                </div>
                <div class="group2">
                    <dl class="2 col-xs-1">
                        <dt class="ticker-name V-h Fz-xs Fw-200">
                            <span>Dow</span>
                        </dt>
                        <dd class="ms-price neg-txt-color Fz-l Pt-4 Fw-n">
                            <span id="yfs_l84_^dji" class="l84">16,609.13</span>
                        </dd>
                        <dd class="Fz-s Pt-1 Fw-500">
                            <span class="change">+9.28</span>
                            <span class="change">(0.06%)</span>
                        </dd>
                    </dl>
                    <div class="2 col-xs-2">
                        <img class="W-100" src="http://chart.finance.yahoo.com/instrument/1.0/^DJI/chart;range=1d/image;size=126x60?region=US&amp;lang=en-US&amp;scheme=gsbeta" alt="Chart for ^DJI" width="105" height="60">
                    </div>
                </div>
                <div class="group3">
                    <dl class="3 col-xs-1">
                        <dt class="ticker-name V-h Fz-xs Fw-200">
                            <span>Nasdaq</span>
                        </dt>
                        <dd class="ms-price neg-txt-color Fz-l Pt-4 Fw-n">
                            <span id="yfs_l84_^ixic" class="l84">4,849.94</span>
                        </dd>
                        <dd class="Fz-s Pt-1 Fw-500">
                            <span class="change">-10.58</span>
                            <span class="change">(0.21%)</span>
                        </dd>
                    </dl>
                    <div class="3 col-xs-2">
                        <img class="W-100" src="http://chart.finance.yahoo.com/instrument/1.0/^IXIC/chart;range=1d/image;size=126x60?region=US&amp;lang=en-US&amp;scheme=gsbeta" alt="Chart for ^IXIC" width="105" height="60">
                    </div>
                </div>
            </div>
  </div>

</div>
