<input type="hidden" id="api-token" value="<%= @user.token %>">

<div class="container">
  <h2 class="title">Positions</h2><hr>

  <span style="font-size:1.5em"><strong>Cash available to trade:</strong> $<span id="cash"><%= sprintf "%.2f", @user.cash %></span></span>
  <table class="table table-striped" id="trades-table">
  </table>

</div>
<!-- Modals -->
<div id="buyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Buy</h4>
      </div>
      <div class="trade-form input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon2">Stock</i></span>
        <span class="coSymb form-control"></span>
        <input type="hidden" class="buy-symbol" name="trade[company_symbol]" value="">
      </div><br>
      <div class="trade-form input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon2">Quantity</i></span>
        <input type="text"  class="form-control required numShares" type="number" name="trade[number_of_shares]" value="" >
      </div><br>
      <div class="trade-form input-group col-xs-4">
      <span class="input-group-addon" id="basic-addon2">Price: $</span>
      <span class="stockPrice form-control"></span>
      </div><br>
      <div class="trade-form input-group">
        <input class="trade-type" type="hidden" name="trade[trade_type]" value="buy">
      </div>
        <br>
        <div class="modal-footer">
          <a href="#" class="" data-dismiss="modal" style="padding-right:20px">Cancel</a>
          <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button> -->
          <button  data-type="buy" class="btn btn-primary preview_order ">Preview Order</button>
        </div>
    </div>
  </div>
</div>

<div id="sellModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sell</h4>
      </div>
      <div class="trade-form input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon2">Stock</i></span>
        <span class="coSymb form-control"></span>
        <input type="hidden" id="buy-symbol" name="trade[company_symbol]" value="">
      </div><br>
      <div class="trade-form input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon2">Quantity</i></span>
        <input class="numShares form-control required" type="number" name="trade[number_of_shares]" value="" >
      </div><br>
      <div class="trade-form input-group col-xs-4">
      <span class="input-group-addon" id="basic-addon2">Price: $</span>
      <span class="stockPrice form-control"></span>
      </div><br>
      <div class="trade-form input-group">
        <input class="trade-type" type="hidden" name="trade[trade_type]" value="sell">
      </div>
        <br>
        <div class="modal-footer">
          <a href="#" class="" data-dismiss="modal" style="padding-right:20px">Cancel</a>
          <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button> -->
          <button class="preview_order btn btn-primary">Preview Order</button>
        </div>
    </div>
  </div>
</div>
<div id="PreviewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Order</h4>
      </div>
      <form class="navbar-form create-trade" action="/api/trades" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div>
        <span class="input-group col-xs-3">Stock: </i></span><b><span class="coSymbol"></span></b>
        <input id="buy-company-symbol" type="hidden" class="buy-symbol form-control" name="trade[company_symbol]" value="">
      </div><br>
      <div>
      <span class="input-group col-xs-3">Price: $</span>

      <b><span id="previewstockPrice"></span></b>
      </div><br>
      <div>
        <span class="input-group col-xs-3">Quantity: </i></span><b><span id="previewNumShares"></span></b>
        <input id="preview-number-of-shares" class="form-control" type="hidden" name="trade[number_of_shares]" value="">
      </div><br>
      <div>
        <span class="input-group col-xs-3">Action: </i></span><b><span id="previewTradeType"></span></b>
        <input id="preview-trade-type" type="hidden" name="trade[trade_type]" value="">
        <input type="hidden" name="token" value="<%=@user.token%>"/>
      </div><br>
      <div>
        <span class="input-group col-xs-3">Commission: </i></span><b><span>$7.95</span></b>
      </div><br>
      <div>
      <span class="input-group col-xs-3">Est. Order Value: $</i></span><b><span id="preview-order-value"></span></b>

      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Edit Trade</button>
      <input class="btn btn-primary" type="submit"  value="Confirm Order">
      </div>
      </form>
    </div>
  </div>
</div>
<div id="ConfirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Order Confirmation</h4>
      </div>
      <div class="modal-body"><h3>Your order has been confirmed. Please track your position in your positions tab.</h3></div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default confirm" data-dismiss="modal">Got it</button>
      </div>
    </div
  </div>
</div>
