<header id="header2" class="row">
  <h2 id="logo" class="col-xs-10">Position</h2><span class="navbar-text">Signed in as <%= @user.username %> <i class="glyphicon glyphicon-user"></i><span class="caret"></span></span>
  <!-- <ul class="dropdown-menu">
    <li><%= button_to 'Log Out', '/sessions', method: :destroy %></li>
  </ul> -->
</header>
<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/users/profile">My Profile <span class="sr-only">(current)</span></a></li>
          <li><a href="/users/stock_lookup">Stock Lookup</a></li>
          <li class="active"><a href="/users/trade">Trade</a></li>
          <li><a href="/users/positions">Positions</a></li>
          <li><a href="/users/market_research">Market Research</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Stock" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
            </div>
          </form>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <h2>Preview Order</h2>
  <ul class="preview-order">
    <div class="data-point">
      <span class="key col-xs-3">Symbol:</span>
      <span class="col-xs-3">AAPL</span><br>
    </div>
    <div class="data-point col-xs">
      <span class="key col-xs-3">Price:</span>
      <span class="col-xs-3">$114.21</span><br>
    </div>
    <div class="data-point">
      <span class="key col-xs-3">Action:</span>
      <span class="col-xs-3">BUY</span><br>
    </div>
    <div class="data-point">
      <span class="key col-xs-3">Quantity:</span>
      <span class="col-xs-3">100 Shares</span><br>
    </div>
    <div class="data-point">
      <span class="key col-xs-3">Commission:</span>
      <span class="col-xs-3">$7.95</span><br>
    </div>
    <div class="data-point">
      <span class="key col-xs-3">Estimated Order Value:</span>
      <span class="col-xs-3">$11,428.95</span><br>
    </div>
  </ul>

  <a href="/users/positions"><input class="trade-form btn btn-primary" type="submit" value="Confirm Order"></a>


</div>
