<input type="hidden" id="api-token" value="<%= @user.token %>">

<h2>Welcome, <%= @user.username %></h2>

Total Cash: $<%= sprintf "%.2f", @user.cash %>

<%= button_to 'Log Out', '/sessions', method: :destroy %>

<a href="/api/trade/new">Make a New Trade</a>
