<input type="hidden" id="api-token" value="<%= @user.token %>">

<div class="container">
<h2>Welcome, <%= @user.username %></h2>


<div class="row dashboard">
  <h2 class="account-value col-xs-5">$15,453.23</h2>
  <h2 class="today-change col-xs-5">+$346.23</h2>
  <span class="account-value col-xs-5">Account Value</span>
  <span class="today-change col-xs-5">Today's Gain/Loss</span>
</div>


</div>
<script type="text/javascript">
$(document).ready(function(){
  var url = window.location;
  $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
  $('ul.nav a').filter(function() {
      return this.href == url;
  }).parent().addClass('active');
});
</script>
