<input type="hidden" id="api-token" value="<%= @user.token %>">

<div class="container">
<h2>Welcome, <%= @user.username %></h2>


<div class="row dashboard">
  <h2 class="account-value col-xs-5">$<%= @net_worth %> </h2>
  <h2 class="today-change col-xs-5">$<%= @days_gain %></h2>
  <span class="account-value col-xs-5">Account Value</span>
  <span class="today-change col-xs-5">Today's Gain/Loss</span>
</div>


</div>
