<div class="container">
  <h2>Stock Lookup: AAPL</h2>

  <span>Apple, Inc.</span><br>

  <h2 class="col-xs-4"><strong>$114.21</strong> ^1.64(1.46%)</h2>
  <h2 class="col-xs-3">
    <button type="button" class="btn btn-primary">Buy</button>
    <button type="button" class="btn btn-primary">Sell</button>
  </h2>


  <div id="stats">
    <div class="data-point">
      <span class="col-xs-2"><strong>Open</strong></span>
      <span class="col-xs-3">111.89</span><br>
    </div>
    <div class="data-point">
      <span class="col-xs-2"><strong>High</strong></span>
      <span class="col-xs-3">114.17</span><br>
    </div>
    <div class="data-point">
      <span class="col-xs-2"><strong>Low</strong></span>
      <span class="col-xs-3">111.76</span><br>
    </div>
    <div class="data-point">
      <span class="col-xs-2"><strong>Volume</strong></span>
      <span class="col-xs-3">4431660</span><br>
    </div>
    <div class="data-point">
      <span class="col-xs-2"><strong>Market Cap</strong></span>
      <span class="col-xs-3">651022743520</span><br>
    </div>
    <div class="data-point">
      <span class="col-xs-2"><strong>Yield</strong></span>
      <span class="col-xs-3">1.89%</span>
    </div>

    <form action="" onsubmit="return submitForm()">
Search Stocks
<input name="stock" type="text" id="stock_search" />
<input type="submit" id="symbol_search_button" value="submit">
</form>
<div id="results">
</div>

<div id="chartDemoContainer">

</div>

    <div class="chart">
    <img src="http://chart.finance.yahoo.com/t?s=AAPL&amp;lang=en-US&amp;region=US&amp;width=300&amp;height=180" alt="Apple Inc. (AAPL)" width="300" height="180">
    </div>
