<header id="header" class="row">
  <!-- <h2 id="logo" class="col-xs-9">Position</h2> -->
  <h2 id="logo" class="col-xs-9" style="font-family: 'Titillium Web', sans-serif;">Position <i class="fa fa-line-chart"></i></h2>
  <a href="/users/login" class="btn btn-default col-xs-1" style="margin-right:10px">Log In</a>
  <a href="/users/register" class="btn btn-default col-xs-1">Sign Up</a>
  <!-- <span class="login btn btn-default col-xs-1"><%= link_to 'Log In', log_in_path %></span>
  <span class="register btn btn-default col-xs-1"><%= link_to 'Sign Up', register_path %></span> -->
</header>

<div class="container">
<!-- <h4>position is a stock market simulator where you can buy and sell publicly traded stocks and track your profits and losses over time.</h4> -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" id="item1">
      <!-- <img src="Student-Laptop.jpg" alt="1"> -->
      <div class="carousel-caption">
        <h3><i class="pitch glyphicon glyphicon-search" aria-hidden="true"></i> Research Stocks</h3>
        <!-- <p>Get real-time stock data and market research to formulate your perspective on the markets.</p> -->
      </div>
    </div>

    <div class="item" id="item2">
      <!-- <img src="bg2.jpg" alt="2"> -->
      <div class="carousel-caption">
        <h3><i class="pitch glyphicon glyphicon-transfer" aria-hidden="true"></i> Make Trades</h3>
        <!-- <p>Buy and sell stocks risk-free with $5,000 in virtual cash. The ideal platform to get your financial feet wet!</p> -->
      </div>
    </div>

    <div class="item" id="item3">
      <!-- <img src="bg2.jpg" alt="2"> -->
      <div class="carousel-caption">
        <h3><i class="pitch glyphicon glyphicon-stats" aria-hidden="true"></i> Test Your Skills</h3>
        <!-- <p>Create challenges with your friends. Compete to see who has the best investment results daily!</p> -->
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="blurb-section">
<i class=" blurb-glyph glyphicon glyphicon-search col-xs-4"></i>
<i class="blurb-glyph glyphicon glyphicon-transfer col-xs-4"></i>
<i class="blurb-glyph glyphicon glyphicon-stats col-xs-4"></i>
<span class="blurb-header col-xs-4"><b>Research stock quotes</b></span>
<span class="blurb-header col-xs-4"><b>Make trades</b></span>
<span class="blurb-header col-xs-4"><b>Build a portfolio and make money!</b></span>
<span class="blurb col-xs-4">Get real-time stock data and market research to formulate your perspective on the markets.</span>
<span class="blurb col-xs-4">Buy and sell stocks risk-free with $5,000 in virtual cash. The ideal platform to get your financial feet wet!</span>
<span class="blurb col-xs-4">Create challenges with your friends. Compete to see who has the best investment results daily!</span>
</div>

<a href="/users/register" class="try btn btn-primary col-xs-3">Try it Out</a>
</div>
