<header id="header" class="row">
  <h2 id="logo" class="col-xs-9">Position(Logo)</h2>
  <span class="login btn btn-default col-xs-1"><%= link_to 'Log In', log_in_path %></span>
  <span class="register btn btn-default col-xs-1"><%= link_to 'Sign Up', register_path %></span>
</header>

<div class="container">
<!-- <h4>position is a stock market simulator where you can buy and sell publicly traded stocks and track your profits and losses over time.</h4> -->
<div class="row pitch">
<i class=" pitch-glyph glyphicon glyphicon-search col-xs-4"></i>
<i class="pitch-glyph glyphicon glyphicon-transfer col-xs-4"></i>
<i class="pitch-glyph glyphicon glyphicon-stats col-xs-4"></i>
<span class="col-xs-4">Research stock quotes</span>
<span class="col-xs-4">Make trades</span>
<span class="col-xs-4">Build a portfolio and make money!</span>
</div>


</div>
