<header id="header" class="row">
  <h2 id="logo" class="col-xs-8">Position(Logo)</h2>
  <span class="login btn btn-default col-xs-1"><%= link_to 'Log In', log_in_path %></span>
  <span class="register btn btn-default col-xs-1"><%= link_to 'Sign Up', register_path %></span>
</header>

<div class="container">
<h4>position is a stock market simulator where you can buy and sell publicly traded stocks and track your profits and losses over time.</h4>

</div>
