/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-glyphicons
 */

 #header {
   background-color: #337ab7;
   /*background-color: rgb(60, 67, 160);*/
   padding: 2% 0 2% 2%;
   vertical-align: bottom;
   color: white;
 }

 #header2 {
   background-color: #337ab7;
   /*background-color: rgb(60, 67, 160);*/
   padding: 2% 0 0 2%;
   vertical-align: bottom;
   color: white;
 }

 h2#logo {
   margin: 0;
 }

 body {
   /*background-image: url('bg3.jpg');*/
   background-repeat: no-repeat;
   background-size: cover;
 }

 .pitch {
   text-align: center;
   /*color: white;*/
 }

 .pitch-glyph {
   font-size: 3em;
   margin: 15% 0 3% 0;
   /*color: white;*/
 }

 .container {
   padding: 1% 1% 1% 5%;
 }

 .login {
   margin: 3px;
 }

 .register {
   margin: 3px;
 }

 .dashboard {
   margin: 5% 0 0 0;
 }

 .account-value {
   text-align: center;
 }

 .today-change {
   text-align: center;
 }

 .trade-form {
   margin: 10px 0;
 }

 .preview-order {
   padding-left: 0;
   margin: 5% 0;
 }

 .data-point {
   padding: 1% 0;
 }

 .key {
   font-weight: bold;
 }

 .data-point:nth-child(even) {
   /*background-color: #eeeeee;*/
   /*color: #bbb;*/
 }
