<!DOCTYPE html>
<html>
<head>
  <title>Position</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/template" id="trade-template">
    <td>
      <%%= company_symbol %>
    </td>
    <td>
      <%%= number_of_shares %>
    </td>
    <td>
      $<%%= parseFloat(share_purchase_price).toFixed(2) %>
    </td>
    <td>
      <%%= trade_type.toUpperCase() %>
    </td>
    <td>
      $<%%= number_of_shares*share_purchase_price %>
    </td>
  </script>
  <script type="text/template" id="stock-template">
    <td>
      <%%= company_symbol %>
    </td>
    <td>
      <%%= last_price %>
    </td>

  </script>
</head>
<body>


<%= yield %>


<%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>

</body>
</html>
